body {
    background-color: #483183;
}
.card {
    margin-top: 50px;
    border-radius: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.btn-tiktok {
    background-color: #32c2dbc4;
    color: blue;
}
.btn-tiktok:hover {
    background-color: rgba(79, 125, 200, 0.823);
    color: rgb(0, 0, 0);
}
